:root {
  --primary-brand: #4d5ae5; /* Iris */
  --pressed-state: #404bbf; /* OCEAN */
  --dark: #2e2f42; /* Navyblue */
  --success: #31d0aa; /* GREEN */
  --text: #434455; /* SLATE */
  --subtle-text: #8e8f99; /* LIGHT SLATE */
  --acent: #e7e9fc; /* cornflower */
  --light: #f4f4fd; /* CLOUD */
  --modal-overlay: #2e2f42; /* NAVY BLUE modal */
  --hero-background: #2e2f42; /* GREY */
  --white-background: #ffffff; /* WHITE */
  --modal-background: #fcfcfc; /* Dairy */
  --primary-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--primary-font);
  color: var(--text);
}
ul {
  list-style: none;
}
.link {
  text-decoration: none;
}

.logo {
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-light {
  font-family: var(--logo-font);
  color: var(--dark);
}
.logo-dark {
  font-family: var(--logo-font);
  color: var(--light);
}
.logo-span {
  color: var(--primary-brand);
}

.header {
  background-color: var(--white-background);
}
.nav-list-content {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--dark);
}
.address-list-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--text);
}

.footer {
  background-color: var(--dark);
}
.footer-text {
  width: 264px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--light);
}
